
html, body {
    margin: 0;
    height: 100%;
}

#main_div {
    display: flex;
    height: 100%;
}

#area_left {
    flex: 2;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

#area_right {
    flex: 1;
    background-color: #d0d0d0;
    min-height: 100%;
}

#area_top_left {
    background-color: #f0f0f0;
    flex: 2;
}

#area_bot_left {
    background-color: #e0e0e0;
    flex: 1;
    position: relative;
}

#bubbles {
    height: 100%;
    width: 100%;
}

#repeat_switch {
    position: absolute;
    right: 10px;
    top: 10px;
}

#duplicates {
    height: 100%;
}
